@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,600;1,500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

.container {
    border: 1px solid red;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),
             rgba(0, 0, 0, 0.7)), url("./assets/imagem/img1.png"); 
    background-position: center;
    background-size: cover;
    padding: 0 8%;
}

 